@model StudentNameWithCourseResult


<h1>Student Name : @Model.Name  ,    ID = @Model.Id</h1>

<table class="table table-bordered text-center table-hover">
    <tr>
        <th>Course</th>
        <th>Degree</th>
    </tr>
    @for (int i = 0; i < Model.Courses.Count; i++)
    {
        <tr>

            <td>@Model.Courses[i]</td>
            <td>@Model.Degrees[i]</td>
        </tr>

    }

</table>